/* Style workspace tabs here. */

.theme-dark,
.theme-light {
	--tab-container-background: var(--background-secondary);
	--tab-background-active: var(--background-primary);
	--tab-text-color: var(--text-faint);
	--tab-text-color-active: var(--text-muted);
	--tab-text-color-focused: var(--text-muted);
	--tab-text-color-focused-active: var(--text-normal);
	--tab-text-color-focused-highlighted: var(--text-accent);
	--tab-text-color-focused-active-current: var(--text-accent);
	--tab-divider-color: var(--divider-color);
	--tab-outline-color: var(--divider-color);
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

.workspace-tab-header.is-active {
	box-shadow: inset 0 2px var(--interactive-accent);
}
